In [2]:
import os
from dotenv import load_dotenv
from langchain_groq import ChatGroq
from langchain_core.prompts import ChatPromptTemplate
from langchain_core.output_parsers import StrOutputParser

In [3]:
#loading API key

load_dotenv()
groq_api_key = os.getenv("GROQ_API_KEY")

if not groq_api_key:
    raise ValueError("GROQ_API_KEY not found in environment variables.")

In [8]:
#LLM init

llm = ChatGroq(
    model="openai/gpt-oss-120b",
    temperature=0.3
)

In [9]:
prompt = ChatPromptTemplate.from_template("""
You are an expert-level AI assistant.

Your task is to provide a clear, accurate, and well-structured answer to the user‚Äôs question.

Instructions:

Be precise, factual, and concise.

Organize your response with clear headings and bullet points where appropriate.

Provide step-by-step explanations when the topic requires reasoning or processes.

If the question is ambiguous, state your assumption before answering.

If you are uncertain about any information, clearly acknowledge it.

Avoid unnecessary filler, repetition, or vague statements.

Prioritize clarity, logical flow, and completeness.

User Question:

{question}
""")

qa_chain = prompt | llm | StrOutputParser()

In [10]:
#Question and Answer

question = input("üí¨ Ask your question: ")

try:
    answer = qa_chain.invoke({"question": question})
    print("\nüß† Answer:\n")
    print(answer)

except Exception as e:
    print(f"\n‚ùå Error: {e}")

üß† Answer:

**Assumption**
- The table is named **`Sales`**.
- It contains a column that records when each sale occurred (e.g., `sale_date`, `transaction_date`, or `created_at`).
- The column stores a **date‚Äëtime** value (timestamp).

If your column has a different name, simply replace `sale_date` in the examples below.

---

## 1. Basic SQL ‚Äì Count rows per calendar day

| DBMS | Query |
|------|-------|
| **SQL Server** | ```sql\nSELECT CAST(sale_date AS DATE) AS sale_day,\n       COUNT(*) AS sales_count\nFROM   Sales\nGROUP BY CAST(sale_date AS DATE)\nORDER BY sale_day;\n``` |
| **MySQL / MariaDB** | ```sql\nSELECT DATE(sale_date) AS sale_day,\n       COUNT(*) AS sales_count\nFROM   Sales\nGROUP BY DATE(sale_date)\nORDER BY sale_day;\n``` |
| **PostgreSQL** | ```sql\nSELECT sale_date::date AS sale_day,\n       COUNT(*) AS sales_count\nFROM   Sales\nGROUP BY sale_date::date\nORDER BY sale_day;\n``` |
| **Oracle** | ```sql\nSELECT TRUNC(sale_date) AS sale_day,\n       COUNT(*) AS sales_count\nFROM   Sales\nGROUP BY TRUNC(sale_date)\nORDER BY sale_day;\n``` |

**Explanation**

1. **Extract the date part** ‚Äì `CAST(... AS DATE)`, `DATE()`, `::date`, or `TRUNC()` removes the time component, leaving only the calendar day.
2. **`COUNT(*)`** tallies the number of rows (sales) for each day.
3. **`GROUP BY`** groups rows that share the same extracted date.
4. **`ORDER BY`** (optional) sorts the result chronologically.

---

## 2. Including Additional Information

### a. Count per day **and** sum the sales amount

Assume a numeric column `amount` holds the sale value.

```sql
SELECT CAST(sale_date AS DATE) AS sale_day,
       COUNT(*)               AS sales_count,
       SUM(amount)            AS total_amount
FROM   Sales
GROUP BY CAST(sale_date AS DATE)
ORDER BY sale_day;
```

### b. Show days with **zero** sales (e.g., for a given month)

1. Create a calendar table or generate a series of dates.
2. Left‚Äëjoin the `Sales` aggregation to that series.

**PostgreSQL example (using `generate_series`)**

```sql
WITH days AS (
    SELECT generate_series('2024-01-01'::date,
                           '2024-01-31'::date,
                           interval '1 day') AS sale_day
)
SELECT d.sale_day,
       COALESCE(s.sales_count, 0) AS sales_count
FROM   days d
LEFT JOIN (
    SELECT sale_date::date AS sale_day,
           COUNT(*) AS sales_count
    FROM   Sales
    WHERE  sale_date BETWEEN '2024-01-01' AND '2024-01-31'
    GROUP BY sale_date::date
) s ON d.sale_day = s.sale_day
ORDER BY d.sale_day;
```

*(For MySQL you can use a temporary numbers table; for SQL Server a recursive CTE; for Oracle a `CONNECT BY` query.)*

---

## 3. Handling Time Zones

If `sale_date` is stored in UTC but you need counts in a specific time zone, convert first:

- **PostgreSQL**: `sale_date AT TIME ZONE 'America/New_York'::date`
- **SQL Server**: `SWITCHOFFSET(sale_date, '-05:00')` then cast to date
- **MySQL 8+**: `CONVERT_TZ(sale_date, '+00:00', '-05:00')`

Example (PostgreSQL, Eastern Time):

```sql
SELECT (sale_date AT TIME ZONE 'America/New_York')::date AS sale_day,
       COUNT(*) AS sales_count
FROM   Sales
GROUP BY (sale_date AT TIME ZONE 'America/New_York')::date
ORDER BY sale_day;
```

---

## 4. Step‚Äëby‚ÄëStep Walkthrough (SQL Server example)

1. **Identify the date column** ‚Äì `sale_date`.
2. **Strip the time**: `CAST(sale_date AS DATE)`.
3. **Group** rows by that stripped date.
4. **Count** rows in each group with `COUNT(*)`.
5. **Order** the result for readability.

```sql
SELECT CAST(sale_date AS DATE) AS sale_day,   -- 1‚Äë2
       COUNT(*) AS sales_count                -- 3‚Äë4
FROM   Sales
GROUP BY CAST(sale_date AS DATE)              -- 3
ORDER BY sale_day;                            -- 5
```

---

## 5. Quick Checklist

- [ ] Verify the exact column name that stores the sale timestamp.
- [ ] Choose the appropriate date‚Äëextraction function for your DBMS.
- [ ] Add any extra aggregates you need (SUM, AVG, etc.).
- [ ] If you need days with zero sales, generate a calendar set and left‚Äëjoin.
- [ ] Adjust for time‚Äëzone conversion if the stored timestamps are not in the desired zone.

Feel free to adapt the snippets to your environment; the core idea is always **‚Äúextract the date ‚Üí group by it ‚Üí count.‚Äù**