In [8]:
import sqlite3
import pandas as pd
from tqdm import tqdm
from openai import OpenAI

In [9]:
conn = sqlite3.connect("company.db")

data = pd.DataFrame({
    "employee_id":[1,2,3,4,5],
    "name":["A","B","C","D","E"],
    "department":["HR","IT","IT","Finance","HR"],
    "salary":[50000,70000,72000,65000,52000]
})

data.to_sql("employees", conn, if_exists="replace", index=False)

print("Database Ready")

Database Ready